body {
    background-color: #CEE3E6;
<<<<<<< HEAD
=======
    color: #294754;
>>>>>>> 70c9d19abe557e23af4a39ef8dea066ed15d418b
}

header {
    background-color: #299D8F;
}

h1 {
<<<<<<< HEAD
    
}

.Avatar {

}

=======
    font-size: 4em;
    
}
>>>>>>> 70c9d19abe557e23af4a39ef8dea066ed15d418b
