@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

body {
    background-color: #CEE3E6;
    background-image: linear-gradient(to bottom, #d4fdd3, #299d8f, #294754);
    color: #294754;
    font-family: 'Kadwa', serif;
}



header {
    background-color: #299D8F;
    width: 100%;
/*    height: 100px;*/

    display: block;
    
}


@media screen and (min-width:700px) {
    header {
        justify-content: space-between;
        /*height: 250px;*/
    }
}


a {
    color: #CEE3E6;
    
  

}



/*
hvordan kan man få nav-header nederst til høyre?
*/


.nav-header {
    display: none;
    gap: 20px;
    align-items: flex-end;
}


@media screen and (min-width:700px) {
    .nav-header {
        display:flex;
    }
}



.contact {
    background-color: #B1A1DE;
    padding: 20px;
    border-radius: 30px;
    /*margin: 20px;*/
    text-align: center;
    height: 30px;

}

/*
hvordan kan man få titelen til å 
krympe med størrelsen på skjermen?
*/

.title {
    font-family: 'Irish Grover', cursive;
    font-size: 36px;
    margin: auto;
    
    
}

@media screen and (min-width:700px) {
    .title {
        font-size: 96px;
        
    }
}


/*
hvordan får jeg avstand mellom avatarbildet og header? OK
hvordan får man teksten til å flytte seg under avataren 
når siden blir smalere? flex-wrap?
*/

.avatar-TLSP {
    width: 80%;
 /*   display: flex;*/
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}
/*
@media screen and (min-width:1100px) {
    .Avatar {
        width: 50%;
    }
}
*/
.Avatar {
   border-radius: 50%;
   border: 10px solid #B1A1DE;
   display: flex;
   align-items: center;
   margin: 0 20% 0 0;
   width: 300px;
}

.TLSP {
    background-color: #D4FDD3;
    padding: 10px 10px 10px 10px;
    align-items: center;
}





.scroll {
    width: 2800px;
    overflow: scroll;
    float:left;
    overflow-x: auto;
    height: 400px;
}

.no-scroll {
    width: 100%;
    height: 400px;
    overflow-x: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
}

.scroll-photo {
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
}


/*
hvordan får jeg mellomrom mellom elementene?
*/


.about {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.All-the-things {
    align-items: center;
    background-color: #D4FDD3;
    
}

.profil {
    align-items: center;
    border-radius: 50%;
    border: 10px solid #B1A1DE;
    width: 300px;
    
}

.About_me {
    align-items: center;
    background-color: #D4FDD3;
    
}






/*
hvordan fikser man disse?
*/

footer {
    background-color: #299D8F;
    height: 100px;
    display: flex;
}

.nav-footer {
    display: none;
    gap: 20px;
    margin: auto;
    
}


@media screen and (min-width:700px) {
    .nav-footer {
        display:flex;
    }
}


footer ul {
    display: flex;
    align-items: center;
}


/*
.test {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
    gap: 10px;


}

.box1 {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}

.baby {
    width: 200px;
    height: 140px;
    
    
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}
*/